EVENT_HUB_CONNECTION_STR=Endpoint=sb://shopstream-<your-name>.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=<your-key>
EVENT_HUB_NAME=clickstream
DEVICES_HUB_NAME=devices
SPIKES_HUB_NAME=spikes